<html>
    <head>
            <%- include('../layout/head.ejs') %>
    </head>
    <body>
        <header>
                <%- include('../layout/header.ejs') %>
        </header>
        <main>

            <!-- <img class ='team' src= 'https://files.slack.com/files-pri/T039KG69K-FQR1K4TFS/image_from_ios.jpg'> -->
            <div class="results-div">
                <img alt="placeholder" src='https://carlisletheacarlisletheatre.org/images/person-clipart-silhouette-7.jpg'>
                <h3>Stephen - The King</h3>
                <p>I'm Charles Glass, and im a software developer. I have experience in HTML, Javascript and CSS, also have experience with Github, and Chrome DEV tool. I have an interest in working with user data, databases, servers and the cloud. My background is in Customer Service, which tought me how to work on a team, and to understand what a customer is looking for in a product. My last job was at Dick's Sporting Goods. It was a great company, and had opportunities for me to move up in positions, but I quickly realized that isn't what I wanted to do. Throughout my education, computer science is what I was most interested in so I decided to persue it as my career</p>
                <a alt="linkedIn" href= "https://www.linkedin.com/in/charles-glass1/"></a>
              </div>
              <div class="results-div">
                <img alt="placeholder" src='https://carlisletheacarlisletheatre.org/images/person-clipart-silhouette-7.jpg'>
                <h3>Paul - The Ace</h3>
                <p>I'm Charles Glass, and im a software developer. I have experience in HTML, Javascript and CSS, also have experience with Github, and Chrome DEV tool. I have an interest in working with user data, databases, servers and the cloud. My background is in Customer Service, which tought me how to work on a team, and to understand what a customer is looking for in a product. My last job was at Dick's Sporting Goods. It was a great company, and had opportunities for me to move up in positions, but I quickly realized that isn't what I wanted to do. Throughout my education, computer science is what I was most interested in so I decided to persue it as my career </p>
                <a alt="linkedIn" href= "https://www.linkedin.com/in/charles-glass1/"></a>
              </div>
              <div class="results-div">
                <img alt="placeholder" src='https://carlisletheacarlisletheatre.org/images/person-clipart-silhouette-7.jpg'>
                <h3>Leandro - The Jack</h3>
                <p>I'm Charles Glass, and im a software developer. I have experience in HTML, Javascript and CSS, also have experience with Github, and Chrome DEV tool. I have an interest in working with user data, databases, servers and the cloud. My background is in Customer Service, which tought me how to work on a team, and to understand what a customer is looking for in a product. My last job was at Dick's Sporting Goods. It was a great company, and had opportunities for me to move up in positions, but I quickly realized that isn't what I wanted to do. Throughout my education, computer science is what I was most interested in so I decided to persue it as my career </p>
                <a alt="linkedIn" href= "https://www.linkedin.com/in/charles-glass1/"></a>
              </div>
              <div class="results-div">
                <img alt="placeholder" src='https://carlisletheacarlisletheatre.org/images/person-clipart-silhouette-7.jpg'>
                <h3>Charles - The Joker</h3>
                <p>I'm Charles Glass, and im a software developer. I have experience in HTML, Javascript and CSS, also have experience with Github, and Chrome DEV tool. I have an interest in working with user data, databases, servers and the cloud. My background is in Customer Service, which tought me how to work on a team, and to understand what a customer is looking for in a product. My last job was at Dick's Sporting Goods. It was a great company, and had opportunities for me to move up in positions, but I quickly realized that isn't what I wanted to do. Throughout my education, computer science is what I was most interested in so I decided to persue it as my career</p>
                <a alt="linkedIn" href= "https://www.linkedin.com/in/charles-glass1/"></a>
              </div>

        </main>
    </body>
    <footer>
            <%- include('../layout/footer.ejs') %>
    </footer>
</html>