<html>
    <head>
            <%- include('../layout/head.ejs') %>
    </head>
    <body>
        <header>
                <%- include('../layout/header.ejs') %>
        </header>
        <main>
            <p>About us</p>
            <a href="/">Home</a>
        </main>
    </body>
    <footer>
            <%- include('../layout/footer.ejs') %>
    </footer>
</html>