<html>
    <head>

    </head>
    <body>
        <header>

        </header>
        <main>
            <p>ERROR 404</p>
            <a href="/">Home</a>
        </main>
    </body>
    <footer>
        
    </footer>
</html>