<html>
    <head>
            <%- include('../layout/head.ejs') %>
    </head>
    <body>
        <header>
                <%- include('../layout/header.ejs') %>
        </header>
        <div id="spinner"></div>
        <main id="theMain">
            <p>ERROR 500</p>
            <a href="/">Home</a>
        </main>
    </body>
    <footer>
            <%- include('../layout/footer.ejs') %>
    </footer>
</html>