<html>
    <head>
        <%- include('../layout/head.ejs') %>
    </head>
    <body>
        <header>

        </header>
        <main>
            <h1>Home Page</h1>
            <p>Hello World</p>
            <a href="/aboutus">About Us</a>
            <a href="/database">Database</a>
            <a href="/show">Sample Search Page</a>
        </main>
    </body>
    <footer>
            <%- include('../layout/footer.ejs') %>
    </footer>
</html>