<form id="searches-form" action="/searches" method="post">
  <h3>
    What happened on your birthday.
  </h3>
  <Fieldset>
    <lable for="title">
    <input type="date" name="search" placeholder="month/day/year">
  </Fieldset>
  <button type="submit">Search</button>
</form>