<html>
    <head>

    </head>
    <body>
        <header>

        </header>
        <main>
            <h1>Showing DB</h1>
            <a href="/">HOme</a>
        </main>
    </body>
    <footer>
        
    </footer>
</html>