main{
  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* space between the nav and content */
  padding-top: 10vw;
}
body {
  position: relative;
}
