<div class="container">
  <form class="search-form" action="/saving" method="post">
    <input
      class="input-field"
      type="text"
      name="name"
      placeholder="Enter Your name"
    /><br />
  </form>

  <button class="submit-button" type="submit" form="form1" value="Submit">
    Add
  </button>
</div>

<style>
  .submit-button {
    height: 100px;
    width: 500px;
    display: block;
    align-items: center;
    justify-content: center;
  }

  .input-field {
    height: 100px;
    width: 500px;
    display: block;
    align-items: center;
    justify-content: center;
  }

  .container {
    height: 400px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #9656a1;
    align-self: center;
  }

  body {
    display: flex;
    background-color: #f4efd3;
    justify-content: center;
  }
</style>
