<div class="container">
  <form class="search-form" action="/saving" method="post">
    <input
      class="input-field"
      type="text"
      name="name"
      placeholder="Enter Your name"
    /><br />
  </form>

  <button class="submit-button" type="submit" form="form1" value="Submit">
    Add
  </button>
</div>
