<div class="headerwrapper">
    <div class="headerone">
        <img class="headerimg"src ="https://i.pinimg.com/originals/75/42/da/7542da36d4b5ab5b82920fed275be9b2.png">
    </div>
    <div class="headertwo">
        <h1>Birthday Finder</h1>
    </div>
    <div class="headerthree">
        <img class="headerimg"src = "https://i.pinimg.com/originals/75/42/da/7542da36d4b5ab5b82920fed275be9b2.png">
    </div>
    <div class="headerfour">
        <button class="headerbutton pure-button">Today's Date</button>
    </div>
    <div class="headerfive">
        <button class="headerbutton pure-button">Search our Database</button>
    </div>
    <div class="headersix">
         <button class="headerbutton pure-button">About Us</button>
    </div>
</div>
