<div class="headerwrapper">
    <div class="headerone">
        <img class="headerimg"src ="https://i.pinimg.com/originals/75/42/da/7542da36d4b5ab5b82920fed275be9b2.png">
    </div>
    <div class="headertwo">
        <h1><a class="headerLink" href="/" style="text-decoration:none">Birthday Finder</a></h1>
    </div>
    <div class="headerthree">
        <img class="headerimg"src = "https://i.pinimg.com/originals/75/42/da/7542da36d4b5ab5b82920fed275be9b2.png">
    </div>
    <div class="headerfour">
        <form action="/searches" method="post">
        <input id="todayDate" type="hidden" name="search" value=<%=today%>>
        <button onclick="showSpinner()" class="headerbutton pure-button">Today's Date</button>
        </form>
    </div>
    <div class="headerfive">
        <button class="headerbutton pure-button"><a class ="headerAboutUs"href='/database' style="text-decoration:none">Search our Database</a></button>
    </div>
    <div class="headersix">
         <button class="headerbutton pure-button"><a class ="headerAboutUs"href='/aboutus' style="text-decoration:none">About Us</a></button>
    </div>
</div>
