<div id="searches-form">
  <form action="/searches" method="post">
    <h3>
      What happened on your birthday.
    </h3>
    <Fieldset>
      <input type="date" name="search" placeholder="month/day/year" />
      <button type="submit">Search</button>
    </Fieldset>
  </form>
</div>
